/* Set up the body formating */
body {
    font-size: 16px;
    min-height: 100vh; 
    background-color: #5e5d5b;
    color: rgb(233, 230, 230);
}
/* Header formating */
header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-direction: row;
}
header h1 {
       font-size: 30px;    
}
nav {
    display: block;
}
header nav ul {
    padding-top: 15px;
    margin-right: 20px;
    display: inline-flex;
    float: right;
    font-size: 15px;
    list-style-type: none;
    flex-wrap: wrap;
}
/* Setting up layout for photos/section */
.grid {
    display: inline-flex;
    align-items: center;
}
.grid2 {
    display: inline-flex;
    align-items: center;
}
/* Allows for intro to about section */
span {
    font-size: 30px;
    color:coral    
}
/* setup image paramaters for places worked icons */
.img {
  width: 125px;
  height: 50%;  
}
.work {
    flex: 1;
    background-color: var(--white);  
}
.card1 {
    padding: 10px;
    flex: 0 0 200px;
    margin: 20px;
}
.card2 {
    border-radius: 80px;
    padding: 10px;
    flex: 0 0 200px;
    margin: 20px;
}
/* Allows for differeant spacing withing the page */
.spacing {
    margin-left: 06%;
    padding-left: 20px;
    border-left-style: inset;
}
.spacing2 {
    margin-left: 05.7%;
    padding-left: 20px;
    border-left-style: inset;
    margin-top: 40px;
}
.spacing3 {
    margin-left: 07.6%;
    padding-left: 20px;
    border-left-style: inset;
}

.center {
    justify-content: center;
}
/* Style and format for Projects section */
.thumb {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 10%;
  margin-bottom: 205px;
}
.select {
    border: 4px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50%;
}
.select:hover {
    box-shadow: 0 0 5px 6px rgba(220, 19, 238, 0.5);
}
.select2 {
    border: 4px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 35%;
    margin-bottom: 130px;
}
.select2:hover {
    box-shadow: 0 0 5px 6px rgba(220, 19, 238, 0.5);
}
.hyper {
    color:#ddd;
}
.bullets {
    list-style-type: none;
    margin-top: 50px;
}

footer {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 600px) {
    main{
        flex-wrap: wrap;
    }
    nav {
        flex-direction: column;
    }    
}  