/* Set up the body formating */
body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #5e5d5b;
    color: rgb(233, 230, 230);
}
header {
    display: flex;
    padding: 20px;
}
header h1 {
       font-size: 30px;    
}
header nav {
    float: right;
}
header nav ul {
    padding-top: 15px;
    margin-right: 20px;
    display: inline-flex;
    float: right;
    font-size: 15px;
    list-style-type: none;
}

